body{
  background-color: black
}

h1 {
  color: orange;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: orange;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 14px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 14px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  font-size: 14px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  
  width: 400px;
}

.gif {
  
}

.footer {

  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color:green
}
